<div class="parallax"></div>

<section id="hot">
    <div class="container">
        <div class="row my-5">
            <div class="col-lg-6 d-flex justify-content-center flex-column">
                <h2>
                    Открийте Свободата на Пътя
                </h2>
                <p class="text-justify">
                    Улеснете си живота с нов автомобил днес! Открийте колекцията ни от вълнуващи модели, които са готови да ви отведат навсякъде, където пожелаете. Без значение дали търсите лукс, комфорт, или ефективност, при нас ще намерите автомобила, който отговаря точно на вашите нужди.
                </p>
                <div class="mt-3">
                    <a routerLink="/cars" class="btn btn-primary">
                        Виж оферти
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="w-100" src="../../../assets/img/home-toyota.jpg" alt="Toyota">
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-6">
                <img class="w-100" src="../../../assets/img/family-car.jpg" alt="Toyota">
            </div>
            <div class="col-lg-6 d-flex justify-content-center flex-column">
                <h2>
                    За По-Добър Живот С Повече Възможности
                </h2>
                <p class="text-justify">
                    Закупуването на нов автомобил е повече от проста сделка – то е инвестиция във вашето бъдеще и качеството на вашия живот. Открийте как нашият избор от висококачествени автомобили може да улесни ежедневието ви и да ви предостави повече възможности за работа, отдих и приключения.
                </p>
                <div class="mt-3">
                    <a routerLink="/cars" class="btn btn-primary">
                        Виж оферти
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</section>
