<div class="container">
    <div class="row my-5">
        <h2 class="text-center fs-1 mb-3">Свържете се с нас</h2>
        <div class="row my-5">
            <div class="col-lg-6 text-center fs-3">
                <p>Телефон за връзка:</p>
                <a href="tel:+359885544335">(+359) 885544335</a>
            </div>
            <div class="col-lg-6 text-center fs-3">
            <p>Електронна поща:</p>
            <a href="mailto: autoxpress@gmail.com">autoxpress&#64;gmail.com</a>
            </div>
        </div>
        <img class="w-100" src="../../../assets/img/contact-image.webp" alt="Contact">
    </div>
</div>
