<div class="container">
    <div class="row my-5">
        <h2 class="fs-1 text-center">За Нас</h2>
        <p class="fs-5 text-justify">
            Добре дошли в AutoXPress, вашият надежден партньор в търсенето на идеалния автомобил. С години опит на пазара и страст към автомобилите, ние предлагаме широк спектър от висококачествени автомобили, които отговарят на всички ваши нужди и желания. Нашата мисия е да направим процеса на закупуване на автомобил не само лесен, но и приятен опит за всеки наш клиент.
        </p>
    </div>
    <div class="row">
        <img class="w-100" src="../../../assets/img/family-car-about.jpeg" alt="Family car">
    </div>
    <div class="row my-5">
        <h2 class="fs-1 text-center mb-3">Защо да изберете нас?</h2>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Широк Избор
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">От последните модели на пазара до проверени употребявани автомобили, при нас ще намерите автомобила, който търсите.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Професионална Консултация
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Нашият екип от експерти е на ваше разположение, за да ви помогне да намерите автомобила, който най-добре отговаря на вашите нужди и бюджет.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Прозрачност и Честност
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Всяка транзакция е базирана на честност и прозрачност. Няма скрити такси или непредвидени разходи.</div>
              </div>
            </div>
        </div>
    </div>
</div>